<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Lista produktów</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/liczba_prod_kat">Liczba produktów wg kategorii</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ranking_cen">Ranking kategorii wg cen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/zamowienia_info">Szczegóły dotyczące najdroższych zamówień</a>
      </li>
      <li class="nav-item">
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tabele
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/produkt">Produkt</a>
            <a class="dropdown-item" href="/producent">Producent</a>
            <a class="dropdown-item" href="/klient">Klient</a>
            <a class="dropdown-item" href="/opinie">Opinie</a>
            <a class="dropdown-item" href="/kurier">Kurier</a>
            <a class="dropdown-item" href="/kategoria">Kategoria</a>
            <a class="dropdown-item" href="/zamowienie">Zamówienie</a>
            <a class="dropdown-item" href="/zamowienie_produkt">Zamówienie-produkt</a>
            <a class="dropdown-item" href="/kategoria_produkt">Kategoria-produkt</a>
          </div>
        </div>
      </li>
    </ul>
  </nav>